/* Janelas de entrar e registar */
.window {
    background-image: url("../images/background/back2.png");
    background-repeat: repeat-x repeat-y;
    border: 3px black solid;
    position: absolute;
    width: 40em;
    height: 35em;
    top: 9em;
    left: 29em;
    z-index: 4;
}

.confirm {
    z-index: 6;
}

/*Janela de ajuda*/
#help-window {
  position: absolute;
    height: 600px;
    width: 400px;
    top: 100px;
    left: 550px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#text-help {
    position: absolute;
    float: center;
    top: 70px;
    left: 35px;
}

#help-window h3 {
  position: absolute;
  left: 155px;
}

#help-window h4 {
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 0px;
}

.helpdiv{
  position: absolute;
  width: 377px;
  height: 530px;
  top: 60px;
  left: 10px;
  text-align: justify;
}

.help-btn {
  position: absolute;
  left: 50px;
  float: center;
  width: 250px;
  height: 50px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  background-color: #009ee1;
  color: white;
  border: none;
}
.help-btn:active{
  background-color: #026bab;
}
#help-window-pedidobtn {
  top: 130px;
}
#help-window-contabtn {
  top: 220px;
}
#help-window-jogosbtn {
  top: 310px;
}
#help-window-musicabtn {
  top: 400px;
}



/* Janela de entrar */
#login-window {
    height: 26em;;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Janela de registar */
#reg-window {
    height: 38em;
    top: 7em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Botão de fechar janelas */
.closeWindow {
    border: 1px solid black;
    color: white;
    background-color:#B22222;
    height: 40px;
    width:40px;
    position:absolute;
    padding-top:5px;
    right:0.2em;
    top:0.2em;
    text-decoration: none;
    font-size: 30px;
    font-weight:bold;
    float:right;
    alignment-adjust:central;
}

.closeWindow:active{
  background-color: #8e1f1f;
}

/* Títulos das janelas */
h3 {
    color: black;
    height: 60px;
    position:relative;
    left:8em;
    top:-0.5em;
    text-decoration: none;
    font-size: 30px;
    font-weight:bold;
    float:left;
    alignment-adjust:central;
}

/* Bloqueador de fundo */
#blocker {
    background-color: black;
    position: absolute;
    width: 1536px;
    height: 760px;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: 100;
}

/* Bloqueador de fundo enquanto a página carrega */
#loader {
    background-color: white;
    position: absolute;
    width: 100em;
    height: 50em;
    top: 0em;
    left: 0em;
    z-index: 20;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.window td {
    float: left;
    position: relative;
    left: 2em;
    top: -4em;
}

.window input {
    width:583px;
    height:30px;
    font-size:24px;
}

label.btn {
    font-size:16px;
    height: 25px;
    width: 180px;
    border: 1px black solid;
    padding: 5px;
    font-weight: normal;
    text-align: left;
    margin-right: 5px;
}

.btn .disabler {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    cursor: default;
    box-shadow: none;
}

.back {
    position: absolute;
    bottom: 10px;
    left: 107.5px;
    border:1px black solid;
    height:30px;
    padding-top:10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    line-height: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
}
.back:active{
  background-color: #306f32;
}

.submit {
    position:absolute;
    bottom:10px;
    left: 220px;
    border: none;
    background-color: #4CAF50;
    color: white;
    height:30px;
    padding-top:10px;
    line-height: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
}

.submit.js_active{
  background-color: #306f32;
}

.attentionText {
  color: red;
}

.calmText {
  color: black;
}

#second-screen{
  background-color: white;
  background-image: url("../images/background/back1.png");
  position: absolute;
  top: 130px;
  left: 0px;
  width: 1536px;
  height: 630px;
  background-position-y: -6%;
}

#keyboard{
  position: absolute;
  top: 540px;
  left: 1172px;
  width: 300px;
  height: 175px;
  background-image: url("../images/keyboard/keyboard.png");
  background-repeat: no-repeat;
  background-size: 365px 220px;
  border: none;
  z-index: 30;
}
#number-pad{
  position: absolute;
  top: 540px;
  left: 1172px;
  width: 300px;
  height: 175px;
  background-image: url("../images/keyboard/number-pad.png");
  background-repeat: no-repeat;
  background-size: 365px 220px;
  border: none;
  z-index:30;
}
