.gamewindow{
  width: 650px;
  height: 650px;
  top: 65px;
}


#tic-tac-toe-game-div{
  background-image: url("images/games/tic-tac-toe-black.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  font-size: 18px;
}

.tic-tac-toe-score {
  position: absolute;
  text-align: left;
  width: 50%;
  height: 9%;
  left: 1%;
  font-size: 250%;
}

#tic-tac-toe-user-score{
  bottom: 1%;
}

.hitbox{
  width: 20%;
  height: 20%;
  position: absolute;
  /*background-image: url("images/games/tic-tac-toe-x-blue.png");*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 70% 70%;
}

#hitbox-00{
  top: 17%;
  left: 17%;
}
#hitbox-01{
  top: 17%;
  left: 40%;
}
#hitbox-02{
  top: 17%;
  left: 64%;
}
#hitbox-10{
  top: 41%;
  left: 17%;
}
#hitbox-11{
  top: 41%;
  left: 40%;
}
#hitbox-12{
  top: 41%;
  left: 64%;
}
#hitbox-20{
  top: 64%;
  left: 17%;
}
#hitbox-21{
  top: 64%;
  left: 40%;
}
#hitbox-22{
  top: 64%;
  left: 64%;
}
.reset{
  position: absolute;
      right: 1%;
      bottom: 1%;
      width: 30%;
      height: 10%;
      background-color: #4CAF50;
      color: white;
      font-size: 250%;
      line-height: 139%;
}
.retaHorizontal{
  width: 70%;
  height: 30%;
  position: absolute;
  left: 17%;
  background-image: url(images/games/reta-horizontal-yellow.png);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#reta-horizontal{
    top: 13%;
}
.retaVertical{
  height: 70%;
  width: 30%;
  position: absolute;
  top: 17%;
  background-image: url(images/games/reta-vertical-yellow.png);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#reta-vertical{
    left:11%;
}
.retaDiagonalPositivo{
  height: 70%;
  width: 70%;
  position: absolute;
  top: 17%;
  left: 17%;
  background-image: url(images/games/reta-diagonal-positivo-yellow.png);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.retaDiagonalNegativo{
  height: 70%;
  width: 70%;
  position: absolute;
  top: 17%;
  left: 17%;
  background-image: url(images/games/reta-diagonal-negativo-yellow.png);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#esmurristo-game-div {
  font-size: 18px;
}

.esmurristo-score {
  position: absolute;
  text-align: center;
  width: 24.7%;
  height: 11%;
  top: 9%;
  font-size: 150%;
  left: 0%;
  border-left: 1px solid #4c4c4c;
  border-right: 1px solid #202020;
}

#esmurristo-player1-score {
  background-color: #f5f5f5;
  border: 1px solid #202020;
  height: 10.8%;
  left: 0.5%;
}

#esmurristo-player2-score {
  left: 25.2%;
  background-color: #363636;
  color: white;
}

#esmurristo-player3-score {
  left: 50.1%;
  background-color: #363636;
  color: white;
}

#esmurristo-player4-score {
  left: 75.1%;
  background-color: #363636;
  color: white;
  border-right: none;
}

#esmurristo-count-score {
  top: 27.5%;
  left: 37.5%;
  background-color: #f5f5f5;
  border: 1px solid #202020;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#esmurristo-btn {
  border: 1px solid black;
  top: 41%;
  left: 25%;
  width: 50%;
  height: 30%;
  position: absolute;
  background-image: url("images/games/esmurristo2.png");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#esmurristo-time-left {
  position: absolute;
  text-align: center;
  width: 50%;
  height: 9%;
  top: 75%;
  left: 25%;
  font-size: 125%;
}

#esmurristo-reset-btn {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#pong-game-div {
  font-size: 18px;
}

.pong-score {
  position: absolute;
  text-align: left;
  width: 50%;
  height: 9%;
  left: 1%;
  font-size: 250%;
}

#pong-user-score{
  bottom: 1%;
}

.retaDashed{
  background-image: url(images/games/dashed-line-black.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 6%;
  width: 104%;
  position: absolute;
  top: 44.5%;
  left: -2%;
}

.player{
  background-color: black;
  position: absolute;
  width: 25%;
  height: 4%;
}

#computer-player{
  top: 10%;
}

#user-player{
  bottom: 15%;
}

.ball{
  background-color: black;
  position: absolute;
  width: 3%;
  height: 4%;
}

#pong-ball{
  left: 20%;
  top: 20%;
}

.blockerWhite{
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.blockerWhiteText{
    font-size: 200%;
    width: 100%;
    position: absolute;
    top: 40%;
    font-weight: bold;
}

#pong-game-field {
  position: absolute;
  height: 72%;
  width: 97%;
  top: 10%;

}
