/* Todas as caixas da interface */
.box {
    border: 3px solid black;
    color: black;
    padding: 30px 32px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    float: left;
    alignment-adjust:central;
    background-color: white;
}

/* Todos os objetos clicáveis */
.btn {
    cursor: pointer;
}

/* Títulos das diversas caixas */
.title { /* game music contautilizador */
  background-color: white;
    border: 3px solid black;
    color: black;
    padding: 15px 32px;
    padding-top: 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    float: left;
    alignment-adjust: central;
}

/* Tabela que contém o ecrã todo */
#screen {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}

/* Botão de ajuda */
#helpbtn {
    width: 100px;
    height: 100px;
    padding: 0px;
    border-radius: 50%;
    font-size: 86px;
    margin-right: 10px;
    line-height: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Botão de chamar o empregado */
#callbtn {
    width: 250px;
    height: 70px;
    font-size: 25px;
    padding: inherit;
    line-height: 70px;
    position: relative;
    top: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#callwaitbtn{
  width: 250px;
  height: 70px;
  font-size: 16px;
  text-align: left;
  padding: inherit;
  top: 10px;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#cancelcallbtn{
  padding: inherit;
  font-size: 16px;
  padding: 2%;
  position: absolute;
  bottom: 5px;
  left: 80px;
}

/* Logótipo */
#logotipo {
  border: transparent;
  width:270px;
  height: 70px;
  position: relative;
  left: 7.10em;
  background-image: url("images/logo/comisto.png");
  background-repeat: no-repeat;
  background-position: 10px ;
  background-color: transparent;
}

/* Relógio */
#clock {
    width: 150px;
    height: 60px;
    float: right;
    line-height: 60px;
    padding: inherit;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#orderfoodbtn {
  background-color: white;
    display:block;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 3px solid black;
    text-align:center;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 86px;
    float: left;
    position: relative;
    left: 0.5em;
    bottom: -1em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#contautilizador {
    float:right;
    height: 10px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#boxcontautilizador {
    float:right;
    height: 220px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    border-top:none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#login-btn {
    position: relative;
    left:1.4em;
    float:center;
    width: 150px;
    height:40px;
    padding: 10px 10px;
    padding-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
}
#reg-btn {
    position: relative;
    left:1.4em;
    float:center;
    width: 150px;
    height:40px;
    padding: 10px 10px;
    padding-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
}

#music {
    float: left;
    height: 10px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    position: relative;
    bottom: -14em;
    line-height: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#boxmusic {
    float: left;
    height: 40px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    border-top:none;
    font-size: 20px;
    position: relative;
    left: 0em;
    bottom: -10.5em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#votemusic {
    float:left;
    height: 20px;
    width: 250px;
    font-size: 20px;
    border-top:none;
    position: relative;
    bottom: -10.5em;
    padding: 10px 20px;
    line-height: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* Capa da música a ser reproduzida */
#cover {
    width: 40px;
    height: 40px;
    display:block;
    border-radius: 50%;
    border: 1px solid black;
    background-color:#FFF;
    color: #000;
    float: left;
}

#game {
    float:left;
    height: 10px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#games {
    float:left;
    height: 50px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    border-top:none;
    font-size: 30px;
    line-height: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#invalid-data {
    color: red;
    position: relative;
    bottom: 60px;
}

#boxcontautilizadorlogged {
    position: relative;
    bottom: 220px;
    float: right;
    height: 230px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    border-top:none;
    background-color:white;
    text-align: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#textContaUtilizador {
    position: relative;
    top: -20px;
    font-size: 16px;
}

#historicobtn {
    font-size: 15px;
    padding: inherit;
    width: 200px;
    text-align: center;
    position: relative;
    top: 0px;
}

#definicoesContabtn {
    font-size: 15px;
    padding: inherit;
    width: 200px;
    text-align: center;
    position: relative;
    top: 10px;
}

#sairSessaobtn {
    font-size: 15px;
    padding: inherit;
    width: 200px;
    text-align: center;
    position: relative;
    top: 20px;
}

#historicoTittle {
    float:right;
    height: 10px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 10px;
    position:relative;
    top:-530px;
    background-color: white;
}
#boxHistorico {
    position:relative;
    top:-530px;
    float:right;
    height: 253px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    border-top:none;
    background-color:white;
    text-align: left;
}

#boxHistoricoVoltarbtn {
    font-size: 15px;
    padding: inherit;
    width: 250px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:0px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#boxHistoricoPedidobtn {
    font-size: 15px;
    padding: inherit;
    width: 120px;
    height: 40px;
    text-align: left;
    position: absolute;
    top: 0px;
    left:0px;
    border-top: none;
    border-left: none;
}

#boxHistoricoRepetirPedidobtn {
    font-size: 15px;
    padding: inherit;
    width: 130px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 0px;
    left:120px;
    border-top: none;
    line-height: 40px;
}

#boxHistoricoXbtn {
    font-size: 15px;
    padding: inherit;
    width: 37px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 0px;
    left:250px;
    border-top: none;
    line-height: 40px;
}

#DefinicoesConta {
  position: relative;
  left: 43px;
  top: -118px;
}
#definicoesTittle{
  float:right;
  height: 10px;
  width: 250px;
  font-size: 15px;
  padding: 10px 20px;
  line-height: 10px;
  background-color: white;
  position: absolute;
  top:118px;
  border-bottom: none;
}

#boxDefContas{
  float: left;
  font-size: 16px;
  width: 226px;
  height: 270px;
  text-align: left;
  position: absolute;
  top: 150px;
}

#boxDefinicoesVoltarbtn {
    font-size: 15px;
    padding: 5px;
    width: 134px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:0px;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

#boxDefinicoesGuardarbtn {
    font-size: 15px;
    padding: 5px;;
    width: 134px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:144px;
    border-bottom: none;
    border-right: none;
}

.inputDef {
    width:250px;
    height:20px;
    font-size:16px;
}

#confirmYesNo {
    position: absolute;
    top: 250px;
    left: 450px;
    font-size: 30px;
    font-weight: bold;
    padding: inherit;
    width: 600px;
    height: 150px;
    padding:10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#confirmYesbtn {
    position: absolute;
    left:90px;
    bottom: 5px;
    float:center;
    width: 150px;
    height:40px;
    padding: 10px 10px;
    padding-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
    background-color: #4CAF50; /* Green */
    color: white;
}

#confirmNobtn {
    position: absolute;
    right:90px;
    bottom: 5px;
    float:center;
    width: 150px;
    height:40px;
    padding: 10px 10px;
    padding-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
    background-color: #B22222; /* red */
    color: white;
}

#confirmOk {
    position: absolute;
    top: 250px;
    left: 450px;
    font-size: 30px;
    font-weight: bold;
    padding: inherit;
    width: 600px;
    height: 150px;
    padding:10px;
}

#confirmOkbtn {
    position: absolute;
    left:220px;
    bottom: 5px;
    float:center;
    width: 150px;
    height:40px;
    padding: 10px 10px;
    padding-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
    background-color: #4CAF50; /* Green */
    color: white;
}

#contautilizadorSecondScreen {
  background-color: white;
    float:right;
    height: 10px;
    width: 260px;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 10px;
    position: absolute;
    top:-112px;
    right: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#screen2-login-box{
  position: absolute;
  top:-80px;
  right: 10px;
  height: 28px;
  width: 236px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#screen2-logged-box{
  position: absolute;
  top:-80px;
  right: 10px;
  height: 28px;
  width: 236px;
}

#screen2-login-btn{
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 2%;
  font-size: 24px;
  width: 110px;
  height: 28px;
}
#screen2-reg-btn{
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 2%;
  font-size: 24px;
  width: 110px;
  height: 28px;
}
#boxEmenta{
  position: absolute;
  top: 10px;
  left: 30px;
  height: 480px;
  width: 1100px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.opcao{
  width: 300px;
  height: 30px;
}
.info{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 16px;
  padding: 1%;
  width: 100px;
  border-top: none;
  border-right:none;
}
.titulo{
  font-size: 24px;
  position: absolute;
  top: 0px;
  left: 5px;
}
.descricao{
  font-size: 12px;
  text-align: left;
  position: relative;
  bottom: 0px;
  left: -25px;
  width: 180px;
}
.preco{
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 24px;
}
#firstBox{
  position: absolute;
  left: 300px;
  top: 60px;
}
#secondBox{
  position: absolute;
  left: 700px;
  top: 60px;
}
#thirdBox{
  position: absolute;
  left: 300px;
  top: 180px;
}
#boxCompras{
  position: absolute;
  top: 10px;
  right:10px;
  height: 480px;
  width: 236px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.compra{
  position: absolute;
  padding: 0%;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 300px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.editBox{
  padding: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  height: 50px;
  width: 50px;
}
.tituloCompra{
  font-size: 20px;
  position: absolute;
  top: 0px;
  left: 105px;
}
.qtd{
  position: absolute;
  left: 65px;
  top: 16px;
  width: 20px;
  height: 13px;
}
.arrow-up {
  position: absolute;
  top: 2px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid gray;
}
.arrow-down {
  position: absolute;
  bottom: 2px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid gray;
}
.precoCompra{
  font-size: 16px;
  position: absolute;
  right: 65px;
  bottom: 5px;
}
.deleteBox{
  padding: inherit;
  position: absolute;
  top: 0px;
  right: 0px;
  border-right: none;
  border-top: none;
  border-bottom: none;
  height: 50px;
  width: 50px;
  line-height: 50px;
}
#totalBox{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 294px;
  border-right: none;
  border-left: none;
  border-bottom: none;
  font-size: 20px;
  padding: 1%;
  text-align: left;
}

#menuPrincipalbtn{
  position: absolute;
  bottom: 10px;
  left: 30px;
  height: 25px;
  width: 236px;
  font-size: 27px;
  line-height: 10px;
  background-color: #B22222; /* red */
  color: white;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

#Confirmarbtn{
  position: absolute;
  bottom: 10px;
  right:10px;
  height: 25px;
  width: 236px;
  font-size: 27px;
  line-height: 10px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.menuEmenta{
  height: 42px;
  width: 150px;
  line-height: 25px;
  font-size: 24px;
  border-left: none;
}

#entradas{
  position: absolute;
  top: 0px;
  left: 0px;
  border-top: none;
  border-bottom: none;
}

#sopas{
  position: absolute;
  top: 87px;
  left: 0px;
  border-bottom: none;
}
#pratos{
  position: absolute;
  top: 174px;
  left: 0px;
  border-bottom: none;
}
#bebidas{
  position: absolute;
  top: 261px;
  left: 0px;
  border-bottom: none;
}
#sobremesas{
  position: absolute;
  top: 348px;
  left: 0px;
  border-bottom: none;
}
#cafetaria{
  position: absolute;
  top: 435px;
  left: 0px;
  border-bottom: none;
}
#textOrdenacao{
  position: absolute;
  top:5px;
  left: 400px;
  font-size: 15px;
}

#historicoSecondScreen {
  background-color: white;
  float:right;
  height: 10px;
  width: 260px;
  font-size: 15px;
  padding: 10px 20px;
  line-height: 10px;
  position: absolute;
  top:-112px;
  right: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#screen2-boxHistorico{
  position: absolute;
  top:-80px;
  right: 10px;
  height: 253px;
  width: 260px;
  font-size: 15px;
  padding: 10px 20px;
  background-color:white;
  text-align: left;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#boxHistoricoPedidobtn2 {
    font-size: 15px;
    padding: inherit;
    width: 120px;
    height: 40px;
    text-align: left;
    position: absolute;
    top: 0px;
    left:0px;
    border-top: none;
    border-left: none;
}
#boxHistoricoRepetirPedidobtn2 {
    font-size: 15px;
    padding: inherit;
    width: 140px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 0px;
    left:120px;
    border-top: none;
    line-height: 40px;
}
#screen2-boxHistoricoXbtn{
    font-size: 15px;
    padding: inherit;
    width: 37px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 0px;
    right:0px;
    border-top: none;
    border-right: none;
    line-height: 40px;
}
#screen2-boxHistoricoFecharbtn {
    font-size: 20px;
    padding: inherit;
    width: 300px;
    height: 40px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:0px;
    line-height: 40px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
#screen2-definicoesTitle {
  background-color: white;
  float:right;
  height: 10px;
  width: 260px;
  font-size: 15px;
  padding: 10px 20px;
  line-height: 10px;
  position: absolute;
  top:-112px;
  right: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#screen2-boxDefinicoesConta{
  position: absolute;
  top:-80px;
  right: 10px;
  height: 290px;
  width: 260px;
  font-size: 15px;
  padding: 10px 20px;
  background-color:white;
  text-align: left;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#screen2-boxDefinicoesVoltarbtn {
    font-size: 15px;
    padding: 5px;
    width: 140px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:0px;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

#screen2-boxDefinicoesGuardarbtn {
    font-size: 15px;
    padding: 5px;;
    width: 140px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    right:0px;
    border-bottom: none;
    border-right: none;
}
#screen2-historicobtn{
  position: absolute;
  bottom: 2px;
  left:5px;
  padding: 0%;
  font-size: 11px;
  width: 90px;
}
#screen2-definicoesContabtn{
  position: absolute;
  bottom: 2px;
  left:102px;
  padding: 0%;
  font-size: 11px;
  width: 90px;
}
#screen2-sairSessaobtn{
  position: absolute;
  bottom: 2px;
  right:5px;
  padding: 0%;
  font-size: 11px;
  width: 90px;
}
