/* Todas as caixas da interface */
.box {
    border: 3px solid black;
    color: black;
    padding: 30px 32px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    float: left;
    alignment-adjust:central;
    background-color: white;
}

/* Todos os objetos clicáveis */
.btn {
    cursor: pointer;
}

/* Títulos das diversas caixas */
.title { /* game music contautilizador */
    border: 3px solid black;
    color: black;
    padding: 15px 32px;
    padding-top: 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    float: left;
    alignment-adjust: central;
}

/* Tabela que contém o ecrã todo */
#screen {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}

/* Botão de ajuda */
#helpbtn {
    width: 100px;
    height: 100px;
    padding: 0px;
    border-radius: 50%;
    font-size: 86px;
    margin-right: 10px;
    line-height: 100px;
}

/* Botão de chamar o empregado */
#callbtn {
    width: 250px;
    height: 70px;
    font-size: 25px;
    padding: inherit;
    line-height: 70px;
    position: relative;
    top: 10px;
}

#callwaitbtn{
  width: 250px;
  height: 70px;
  font-size: 16px;
  text-align: left;
  padding: inherit;
  top: 10px;
  position: relative;
}

#cancelcallbtn{
  padding: inherit;
  font-size: 16px;
  padding: 2%;
  position: absolute;
  bottom: 5px;
  left: 80px;
}

/* Logótipo */
#logotipo {
    width:270px;
    height: 70px;
    position: relative;
    left: 6.5em;
    background-image: url("images/logo/comisto3.png");
    background-repeat: no-repeat;
    background-position: 10px ;

}

/* Relógio */
#clock {
    width: 150px;
    height: 60px;
    float: right;
    line-height: 60px;
    padding: inherit;
}

#orderfoodbtn {
    display:block;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 3px solid black;
    text-align:center;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 86px;
    float: left;
    position: relative;
    left: 0.5em;
    bottom: -1em;
    cursor: pointer;
}

#contautilizador {
    float:right;
    height: 10px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 10px;
}
#boxcontautilizador {
    float:right;
    height: 220px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    border-top:none;
}
#login-btn {
    position: relative;
    left:1.4em;
    float:center;
    width: 150px;
    height:40px;
    padding: 10px 10px;
    padding-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
}
#reg-btn {
    position: relative;
    left:1.4em;
    float:center;
    width: 150px;
    height:40px;
    padding: 10px 10px;
    padding-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
}

#music {
    float: left;
    height: 10px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    position: relative;
    bottom: -14em;
    line-height: 10px;
}
#boxmusic {
    float: left;
    height: 40px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    border-top:none;
    font-size: 20px;
    position: relative;
    left: 0em;
    bottom: -10.5em;
}
#votemusic {
    float:left;
    height: 20px;
    width: 250px;
    font-size: 20px;
    border-top:none;
    position: relative;
    bottom: -10.5em;
    padding: 10px 20px;
    line-height: 20px;
}
/* Capa da música a ser reproduzida */
#cover {
    width: 40px;
    height: 40px;
    display:block;
    border-radius: 50%;
    border: 1px solid black;
    background-color:#FFF;
    color: #000;
    float: left;
}

#game {
    float:left;
    height: 10px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 10px;
}
#games {
    float:left;
    height: 50px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    border-top:none;
    font-size: 30px;
    line-height: 50px;
}

#invalid-data {
    color: red;
    position: relative;
    bottom: 60px;
}

#boxcontautilizadorlogged {
    position: relative;
    bottom: 220px;
    float: right;
    height: 230px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    border-top:none;
    background-color:white;
    text-align: left;
}

#textContaUtilizador {
    position: relative;
    top: -20px;
    font-size: 16px;
}

#historicobtn {
    font-size: 15px;
    padding: inherit;
    width: 200px;
    text-align: center;
    position: relative;
    top: 0px;
}

#definicoesContabtn {
    font-size: 15px;
    padding: inherit;
    width: 200px;
    text-align: center;
    position: relative;
    top: 10px;
}

#sairSessaobtn {
    font-size: 15px;
    padding: inherit;
    width: 200px;
    text-align: center;
    position: relative;
    top: 20px;
}

#historicoTittle {
    float:right;
    height: 10px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 10px;
    position:relative;
    top:-530px;
    background-color: white;
}
#boxHistorico {
    position:relative;
    top:-530px;
    float:right;
    height: 253px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    border-top:none;
    background-color:white;
    text-align: left;
}

#boxHistoricoVoltarbtn {
    font-size: 15px;
    padding: inherit;
    width: 250px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:0px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#boxHistoricoPedidobtn {
    font-size: 15px;
    padding: inherit;
    width: 120px;
    height: 40px;
    text-align: left;
    position: absolute;
    top: 0px;
    left:0px;
    border-top: none;
    border-left: none;
}

#boxHistoricoRepetirPedidobtn {
    font-size: 15px;
    padding: inherit;
    width: 130px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 0px;
    left:120px;
    border-top: none;
    line-height: 40px;
}

#boxHistoricoXbtn {
    font-size: 15px;
    padding: inherit;
    width: 37px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 0px;
    left:250px;
    border-top: none;
    line-height: 40px;
}

#DefinicoesConta {
  position: relative;
  left: 43px;
  top: -118px;
}
#definicoesTittle{
  float:right;
  height: 10px;
  width: 250px;
  font-size: 15px;
  padding: 10px 20px;
  line-height: 10px;
  background-color: white;
  position: absolute;
  top:118px;
  border-bottom: none;
}

#boxDefContas{
  float: left;
  font-size: 16px;
  width: 226px;
  height: 228px;
  text-align: left;
  position: absolute;
  top: 150px;
}

#boxDefinicoesVoltarbtn {
    font-size: 15px;
    padding: 5px;
    width: 134px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:0px;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

#boxDefinicoesGuardarbtn {
    font-size: 15px;
    padding: 5px;;
    width: 134px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:144px;
    border-bottom: none;
    border-right: none;
}

.inputDef {
    width:250px;
    height:20px;
    font-size:16px;
}

#confirmYesNo {
    position: absolute;
    top: 250px;
    left: 450px;
    font-size: 30px;
    font-weight: bold;
    padding: inherit;
    width: 600px;
    height: 150px;
    padding:10px;
}

#confirmacaoSimbtn {
    position: absolute;
    left:90px;
    bottom: 5px;
    float:center;
    width: 150px;
    height:40px;
    padding: 10px 10px;
    padding-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
}

#confirmacaoNaobtn {
    position: absolute;
    right:90px;
    bottom: 5px;
    float:center;
    width: 150px;
    height:40px;
    padding: 10px 10px;
    padding-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
}

#confirmOk {
    position: absolute;
    top: 250px;
    left: 450px;
    font-size: 30px;
    font-weight: bold;
    padding: inherit;
    width: 600px;
    height: 150px;
    padding:10px;
}

#confirmOkbtn {
    position: absolute;
    left:220px;
    bottom: 5px;
    float:center;
    width: 150px;
    height:40px;
    padding: 10px 10px;
    padding-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
}

#boxEmenta{
  position: absolute;
  top: 10px;
  left: 30px;
  height: 480px;
  width: 1100px;
}

#boxCompras{
  position: absolute;
  top: 10px;
  left: 1220px;
  height: 480px;
  width: 236px;
}

#menuPrincipalbtn{
  position: absolute;
  bottom: 10px;
  left: 30px;
  height: 25px;
  width: 236px;
  font-size: 27px;
  line-height: 10px;
}

#Confirmarbtn{
  position: absolute;
  bottom: 10px;
  left: 1220px;
  height: 25px;
  width: 236px;
  font-size: 27px;
  line-height: 10px;
}

.menuEmenta{
  height: 42px;
  width: 150px;
  line-height: 25px;
  font-size: 24px;
  border-left: none;
}

#entradas{
  position: absolute;
  top: 0px;
  left: 0px;
  border-top: none;
  border-bottom: none;
}

#sopas{
  position: absolute;
  top: 87px;
  left: 0px;
  border-bottom: none;
}
#pratos{
  position: absolute;
  top: 174px;
  left: 0px;
  border-bottom: none;
}
#bebidas{
  position: absolute;
  top: 261px;
  left: 0px;
  border-bottom: none;
}
#sobremesas{
  position: absolute;
  top: 348px;
  left: 0px;
  border-bottom: none;
}
#cafetaria{
  position: absolute;
  top: 435px;
  left: 0px;
  border-bottom: none;
}
#textOrdenacao{
  position: absolute;
  top:5px;
  left: 400px;
  font-size: 15px;
}
