a {
    font-size: 18px;
}

a:visited {
    color: blue;
}

/* Todas as caixas da interface */
.box {
    border: 3px solid black;
    color: black;
    padding: 30px 32px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    float: left;
    alignment-adjust:central;
    background-color: white;
}

.background {
  background-image: url("images/background/back2.png");
  background-repeat: repeat-x repeat-y;
}

/* Todos os objetos clicáveis */
.btn {
    cursor: pointer;
}

/* Títulos das diversas caixas */
.title { /* game music contautilizador */
    background-color: #363636;
    color: white;
    padding: 15px 32px;
    padding-top: 30px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    float: left;
    alignment-adjust: central;
    height: 10px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 10px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.boxright {
    position: relative;
    float:right;
    height: 220px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    border-top:none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.Xbtn {
  background-color: #B22222; /* red */
  color: white;
}
/* Tabela que contém o ecrã todo */
#screen {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}

/* Botão de ajuda */
#helpbtn {
  position: absolute;
    top: 20px;
    left: 10px;
  width: 100px;
  height: 100px;
  color: white;
  padding: 0px;
  border-radius: 50%;
  font-size: 86px;
  margin-right: 10px;
  line-height: 100px;
  background-color: #3377ff;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Botão de chamar o empregado */
#callbtn {
    width: 250px;
    height: 70px;
    font-size: 20px;
    padding: inherit;
    line-height: 70px;
    position: absolute;
    top: 30px;
    left: 120px;
    background-color: #363636;
    color: white;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    background-image: url("images/icons/buttons/garcon-white.png");
    background-position: 5% 45%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

#callwaitbtn {
  width: 250px;
  height: 70px;
  font-size: 16px;
  text-align: center;
  padding: inherit;
  position: absolute;
  top: 30px;
  left: 120px;
  border: 1px solid black;
  background-color: #f5f5f5;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#cancelcallbtn {
  padding: inherit;
  font-size: 16px;
  padding: 2%;
  position: absolute;
  bottom: 10px;
  left: 90px;
  background-color: #B22222; /* red */
  color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Logótipo */
#logotipo {
  border: transparent;
  width:270px;
  height: 70px;
  position: absolute;
  left: 600px;
  top: 10px;
  background-image: url("images/logo/comisto.png");
  background-size: 280px 113px;
  background-repeat: no-repeat;
  background-position: 10px ;
  background-color: transparent;
}

/* Relógio */
#clock {
    width: 150px;
    height: 60px;
    float: right;
    line-height: 60px;
    padding: inherit;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#orderfoodbtn {
  background-color: #009ee1;
    display:block;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: none;
    text-align:center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 86px;
    float: left;
    position: absolute;
    left: 500px;
    top: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-image: url("images/icons/buttons/fork-knife-white.png");
    background-position: 48.5% 85%;
    background-repeat: no-repeat;
    background-size: 150px 150px;
    line-height: 100px;
}

#rightBoxTitle {
    float:right;
    height: 10px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    background-image: url("images/icons/account/user-white.png");
    background-position: 10% 45%;
    background-repeat: no-repeat;
    background-size: 25px 25px;
}

#login-btn {
    position: absolute;
    left:60px;
    top: 40px;
    float:center;
    width: 150px;
    height:40px;
    padding: 10px 10px;
    padding-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
    background-color: #009ee1;
    color: white;
    border: none;
    background-image: url("images/icons/account/login-white.png");
    background-position: 10% 45%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
#reg-btn {
    position: absolute;
    left:60px;
    top: 130px;
    float:center;
    width: 150px;
    height:40px;
    padding: 10px 10px;
    padding-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
    background-color: #009ee1;
    color: white;
    border: none;
    background-image: url("images/icons/account/register-white.png");
    background-position: 12% 52%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

#music {
    float: left;
    height: 10px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    position: relative;
    bottom: -14em;
    line-height: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#boxmusic {
    float: left;
    height: 40px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    position: relative;
    left: 0em;
    bottom: -10.5em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#votemusic {
    float:left;
    height: 20px;
    width: 250px;
    font-size: 20px;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    position: relative;
    bottom: -10.5em;
    padding: 10px 20px;
    line-height: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* Capa da música a ser reproduzida */
#cover {
    width: 40px;
    height: 40px;
    display:block;
    border-radius: 50%;
    border: 1px solid black;
    background: url("images/musica/blue.jpg");
    background-size: 60px 37px;
    background-position: center;
    float: left;
}

#game {
    float:left;
    height: 10px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 10px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.games {
    float:left;
    height: 50px;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    border-top:none;
    font-size: 30px;
    line-height: 50px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #4c4c4c;
    border-bottom: 1px solid #202020;
    background-color: #f5f5f5;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#invalid-data {
    color: red;
    position: relative;
    bottom: 60px;
}
#boxcontautilizador{
  border: none;
}
#boxcontautilizadorlogged {
    padding-top: 30px;
    border-top:none;
    background-color:white;
    text-align: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
}

#textContaUtilizador {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 16px;
}

#historicobtn {
    font-size: 15px;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 25px;
    background-color: #009ee1;
    color: white;
    border: none;
    background-image: url("images/icons/account/history-white.png");
    background-position: 8.75% 47%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

#definicoesContabtn {
    font-size: 15px;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 110px;
    left: 25px;
    background-color: #009ee1;
    color: white;
    border: none;
    background-image: url("images/icons/account/definicoes-white.png");
    background-position: 8% 50%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

#sairSessaobtn {
    font-size: 15px;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 160px;
    left: 25px;
    border: none;
    background-color: #B22222; /* red */
    color: white;
    background-image: url("images/icons/account/logout-white.png");
    background-position: 9.5% 45%;
    background-repeat: no-repeat;
    background-size: 25px 25px;
}

#boxHistorico {
    height: 253px;
    font-size: 15px;
    padding: 10px 20px;
    border-top:none;
    background-color:white;
    text-align: left;
    border: none;
}

#boxHistoricoVoltarbtn {
    font-size: 15px;
    padding: inherit;
    width: 250px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:0px;
    border: none;
    background-color: #B22222; /* red */
    color: white;
    background-image: url("images/icons/buttons/back-white.png");
    background-position: 15% 50%;
    background-repeat: no-repeat;
    background-size: 25px 25px;
}
#boxHistoricoRepetirPedido {
  position: absolute;
    right: 2px;
    top: 161px;
  height: 253px;
  font-size: 15px;
  padding: 10px 20px;
  border-top:none;
  background-color:white;
  text-align: left;
  border: none;
}
#boxRepetirPedidobtn {
    font-size: 15px;
    padding: 5px;
    width: 137px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:0px;
    border:none;
    background-color: #4CAF50; /* Green */
    color: white;
    background-image: url("images/icons/buttons/restart-white.png");
    background-position: 7% 50%;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}
#boxHistoricoRepetirPedidoVoltarbtn {
    font-size: 15px;
    padding: 5px;;
    width: 134px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    right:0px;
    border:none;
    background-color: #B22222; /* red */
    color: white;
    background-image: url("images/icons/buttons/back-white.png");
    background-position: 15% 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

#boxHistorico ul {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 30px;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
}

#boxHistorico li {
    list-style-type: none;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 42px;
    margin: 0px;
    padding: 0px;
}

#boxHistorico .boxHistoricoPedidobtn {
    font-size: 15px;
    padding: inherit;
    width: 120px;
    height: 40px;
    text-align: left;
    position: absolute;
    top: 0px;
    left:0px;
    background-color: #363636;
    color: white;
    border-top: 1px solid #4c4c4c;
    border-bottom: 1px solid #202020;
    border-left: 1px solid #4c4c4c;
    border-right: 1px solid #202020;
    border-left: none;
}

#boxHistorico .boxHistoricoRepetirPedidobtn {
    font-size: 14px;
    padding: inherit;
    width: 110px;
    height: 40px;
    text-align: right;
    padding-right: 2%;
    position: absolute;
    top: 0px;
    left:120px;
    border-top: none;
    line-height: 40px;
    border-top: 1px solid #4c4c4c;
    border-bottom: 1px solid #202020;
    border-left: 1px solid #4c4c4c;
    border-right: 1px solid #202020;
    background-color: #4CAF50; /* Green */
    color: white;
    background-image: url("images/icons/buttons/restart-white.png");
    background-position: 4% 50%;
    background-repeat: no-repeat;
    background-size: 13px 13px;
}

#boxHistorico .boxHistoricoXbtn {
    font-size: 15px;
    padding: inherit;
    width: 37px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 0px;
    left:235px;
    border-top: none;
    line-height: 40px;
    border-top: 1px solid #4c4c4c;
    border-bottom: 1px solid #202020;
    border-left: 1px solid #4c4c4c;
    border-right: 1px solid #202020;
}

#boxDefContas{
  font-size: 16px;
  height: 300px;
  text-align: left;
  border: none;
}

#boxDefinicoesGuardarbtn {
    font-size: 15px;
    padding: 5px;
    width: 137px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:0px;
    border:none;
    background-color: #4CAF50; /* Green */
    color: white;
    background-image: url("images/icons/buttons/save-white.png");
    background-position: 15% 50%;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}

#boxDefinicoesVoltarbtn {
    font-size: 15px;
    padding: 5px;;
    width: 134px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    right:0px;
    border:none;
    background-color: #B22222; /* red */
    color: white;
    background-image: url("images/icons/buttons/back-white.png");
    background-position: 15% 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.inputDef {
    width:250px;
    height:20px;
    font-size:16px;
}

#confirmYesNo {
    position: absolute;
    top: 250px;
    left: 450px;
    font-size: 30px;
    font-weight: bold;
    padding: inherit;
    width: 600px;
    height: 180px;
    padding:10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 20;
}

.confirmYesbtn {
    position: absolute;
    left:90px;
    bottom: 25px;
    float:center;
    width: 150px;
    height:40px;
    padding: 10px 10px;
    padding-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.confirmNobtn {
    position: absolute;
    right:90px;
    bottom: 25px;
    float:center;
    width: 150px;
    height:40px;
    padding: 10px 10px;
    padding-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
    background-color: #B22222; /* red */
    color: white;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#confirmOk {
    position: absolute;
    top: 250px;
    left: 450px;
    font-size: 30px;
    font-weight: bold;
    padding: inherit;
    width: 600px;
    height: 150px;
    padding:10px;
    z-index: 20;
}

.confirmOkbtn {
    position: absolute;
    left:220px;
    bottom: 5px;
    float:center;
    width: 150px;
    height:40px;
    padding: 10px 10px;
    padding-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#recover-password-box {
    position: absolute;
    top: 250px;
    left: 450px;
    font-size: 30px;
    font-weight: bold;
    padding: inherit;
    width: 600px;
    height: 200px;
    padding:10px;
}

#recover-tel-numbx {
     position: absolute;
    top: 60px;
    left: 230px;
    width: 150px;
}
