.slideup {
  height: 20px;
  width: 250px;
  font-size: 20px;
  border: none;
  position: absolute;
  padding: 10px 20px;
  line-height: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#order-again-btn {
  bottom: -30px;
  left: 1px;
  background-color: #009ee1;
  color: white;
}

#box-order-again {
  position: absolute;
  border: none;
  width: 226px;
  height: 324px;
  left: 1px;
}

#order-again-title {
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: none;
}



.menu-order-again {
  position: relative;
  padding: 0px;
  height: 50px;
  width: 250px;
  border-bottom: none;
  font-size: 24px;
}
