#contautilizadorSecondScreen {
    float:right;
    height: 10px;
    width: 260px;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 10px;
    position: absolute;
    top:-112px;
    right: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    background-image: url("images/icons/account/user-white.png");
    background-position: 10% 45%;
    background-repeat: no-repeat;
    background-size: 25px 25px;
}

#screen2-login-box{
    position: absolute;
    top:-82px;
    right: 10px;
    height: 28px;
    width: 236px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
}

#screen2-logged-box{
    position: absolute;
    top:-82px;
    right: 10px;
    height: 28px;
    width: 236px;
    border: none;
}

#screen2-login-btn{
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 2%;
    font-size: 24px;
    width: 110px;
    height: 28px;
    background-color: #009ee1;
    color: white;
    border: none;
    line-height: 25px;
    background-image: url("images/icons/account/login-white.png");
    background-position: 10% 47%;
    background-repeat: no-repeat;
    background-size: 25px 25px;
}
#screen2-reg-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 2%;
    font-size: 24px;
    width: 110px;
    height: 28px;
    background-color: #009ee1;
    color: white;
    border: none;
    line-height: 25px;
    background-image: url("images/icons/account/register-white.png");
    background-position: 7% 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
#boxEmenta{
    position: absolute;
    top: 10px;
    left: 30px;
    height: 480px;
    width: 1100px;
    background-color: #f5f5f5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.info {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 16px;
    padding: 1%;
    width: 100px;
    border-top: none;
    border-right:none;
}
.titulo{
    font-size: 24px;
    position: absolute;
    top: 0px;
    left: 5px;
}
.descricao{
    font-size: 12px;
    text-align: left;
    position: relative;
    bottom: 0px;
    left: -25px;
    width: 180px;
}
.preco{
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 24px;
}

.opcao {
    width: 300px;
    height: 30px;
}

#food-options {
    position: relative;
    top: 30px;
    left: 250px;
    bottom: 0px;
    height: 465px;;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
}

#food-options li {
    list-style-type: none;
    position: relative;
    top: 0px;
    left: 0px;
    margin-right: 80px;
    margin-bottom: 50px;
}

#boxCompras {
    position: absolute;
    padding: 0px;
    top: 10px;
    right: 10px;
    height: 525px; /*480px;*/
    width: 300px; /*236px;*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#boxCompras ul {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 30px;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
}

#boxCompras li {
    list-style-type: none;
    position: relative;
    padding: 0px;
    height: 50px;
    width: 286px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.editBox {
    padding: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
    border-left: none;
    border-top: none;
    border-bottom: none;
    height: 50px;
    width: 50px;
}

.tituloCompra {
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 105px;
}
.qtd {
    position: absolute;
    left: 65px;
    top: 16px;
    width: 20px;
    height: 13px;
}
.arrow-up {
    position: absolute;
    top: 2px;
    left: 64px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid gray;
}
.arrow-down {
    position: absolute;
    bottom: 2px;
    left: 64px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid gray;
}
.precoCompra {
    font-size: 16px;
    position: absolute;
    right: 65px;
    bottom: 5px;
}
.deleteBox {
    padding: inherit;
    position: absolute;
    top: 0px;
    right: 0px;
    border-right: none;
    border-top: none;
    border-bottom: none;
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: #B22222; /* red */
    color: white;
}
#totalBox {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 294px;
    height: 25px;
    border-right: none;
    border-left: none;
    border-bottom: none;
    font-size: 20px;
    padding: 1%;
    text-align: left;
}

#menuPrincipalbtn {
    position: absolute;
    bottom: 10px;
    left: 30px;
    height: 25px;
    width: 236px;
    font-size: 27px;
    text-align: right;
    line-height: 10px;
    background-color: #B22222; /* red */
    color: white;
    border: none;
    background-image: url("images/icons/buttons/menu-principal-white.png");
    background-position: 7% 45%;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#Confirmarbtn {
    position: absolute;
    bottom: 10px;
    right:10px;
    height: 25px;
    width: 236px;
    font-size: 27px;
    line-height: 10px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-image: url("images/icons/buttons/confirmar-white.png");
    background-position: 17% 52%;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.menuEmenta {
    height: 42px;
    width: 150px;
    line-height: 25px;
    font-size: 24px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #4c4c4c;
    border-bottom: 1px solid #202020;
    background-color: #363636;
    color: white;
    text-align: left;
}

#boxEmenta .selected {
    border-right: none;
    cursor: default;
    color: black;
    background-color: #f5f5f5;
}

#menu-entradas {
    position: absolute;
    height: 45px;
    top: 0px;
    left: 0px;
    border-top: none;
    background-image: url("images/icons/food-menu/bread-white.png");
    background-position: 14% 47%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
#menu-entradas.selected {
    border-top: none;
    background-image: url("images/icons/food-menu/bread-black.png");
    background-position: 14% 47%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
#menu-sopas {
    position: absolute;
    top: 87px;
    left: 0px;
    background-image: url("images/icons/food-menu/soup-white.png");
    background-position: 10% 45%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
#menu-sopas.selected {
    background-image: url("images/icons/food-menu/soup-black.png");
    background-position: 10% 45%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
#menu-pratos {
    position: absolute;
    top: 174px;
    left: 0px;
    background-image: url("images/icons/food-menu/plate-white.png");
    background-position: 10% 50%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
#menu-pratos.selected {
    background-image: url("images/icons/food-menu/plate-black.png");
    background-position: 10% 50%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}


#menu-bebidas {
    position: absolute;
    top: 261px;
    left: 0px;
    background-image: url("images/icons/food-menu/drink-white.png");
    background-position: 10% 45%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

#menu-bebidas.selected {
    background-image: url("images/icons/food-menu/drink-black.png");
    background-position: 10% 45%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

#menu-sobremesas {
    position: absolute;
    top: 348px;
    left: 0px;
    background-image: url("images/icons/food-menu/dessert-white.png");
    background-position: 7% 49%;
    background-repeat: no-repeat;
    background-size: 40px 40px;
}
#menu-sobremesas.selected {
    background-image: url("images/icons/food-menu/dessert-black.png");
    background-position: 7% 49%;
    background-repeat: no-repeat;
    background-size: 40px 40px;
}
#menu-cafetaria {
    position: absolute;
    top: 437px;
    left: 0px;
    border-bottom: none;
    background-image: url("images/icons/food-menu/coffee-white.png");
    background-position: 10% 48%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

#menu-cafetaria.selected {
    border-bottom: none;
    background-image: url("images/icons/food-menu/coffee-black.png");
    background-position: 10% 48%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

#textOrdenacao {
    position: absolute;
    top:5px;
    left: 400px;
    font-size: 15px;
}

#textOrdenacao span {
    text-decoration: underline;
    cursor: pointer;
}

#textOrdenacao span.selected {
    text-decoration: none;
    cursor: default;
}

#historicoSecondScreen {
    float:right;
    height: 10px;
    width: 260px;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 10px;
    position: absolute;
    top:-112px;
    right: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
}

#screen2-boxHistorico {
    position: absolute;
    top:-82px;
    right: 10px;
    height: 263px;
    width: 300px;
    font-size: 15px;
    padding: 0px;
    background-color: white;
    text-align: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
}

#screen2-boxHistorico ul {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 30px;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
}

#screen2-boxHistorico li {
    list-style-type: none;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 52px;
    margin: 0px;
    padding: 0px;
}

#screen2-boxHistorico .boxHistoricoPedidobtn {
    font-size: 15px;
    padding: 5px;
    width: 120px;
    height: 40px;
    text-align: left;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: none;
    border-left: none;
}

#screen2-boxHistorico .boxHistoricoRepetirPedidobtn {
    font-size: 15px;
    padding: 5px;
    width: 140px;
    height: 40px;
    text-align: left;
    position: absolute;
    top: 0px;
    left: 124px;
    border-top: none;
    line-height: 40px;
}

#screen2-boxHistorico .boxHistoricoXbtn {
    font-size: 15px;
    padding: 5px;
    width: 37px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    border-top: none;
    border-right: none;
    line-height: 40px;
}

#screen2-boxHistoricoFecharbtn {
    font-size: 20px;
    padding: inherit;
    width: 300px;
    height: 40px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:0px;
    line-height: 40px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: #B22222; /* red */
    color: white;
    border: none;
}
#screen2-boxHistoricoRepetirPedido {
    position: absolute;
    top:-82px;
    right: 10px;
    height: 263px;
    width: 300px;
    font-size: 15px;
    padding: 0px;
    background-color: white;
    text-align: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
}
#screen2-boxRepetirPedidobtn {
    font-size: 15px;
    padding: 5px;
    width: 140px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:0px;
    border:none;
    background-color: #4CAF50; /* Green */
    color: white;
    background-image: url("images/icons/buttons/restart-white.png");
    background-position: 7% 50%;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}
#screen2-boxHistoricoRepetirPedidoVoltarbtn {
    font-size: 15px;
    padding: 5px;;
    width: 140px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    right:0px;
    border:none;
    background-color: #B22222; /* red */
    color: white;
    background-image: url("images/icons/buttons/back-white.png");
    background-position: 15% 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
#screen2-definicoesTitle {
    float:right;
    height: 10px;
    width: 260px;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 10px;
    position: absolute;
    top:-112px;
    right: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
}
#screen2-boxDefinicoesConta{
    position: absolute;
    top:-82px;
    right: 10px;
    height: 290px;
    width: 260px;
    font-size: 15px;
    padding: 10px 20px;
    background-color:white;
    text-align: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
}
#screen2-boxDefinicoesGuardarbtn {
    font-size: 15px;
    padding: 5px;
    width: 140px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:0px;
    border-bottom: none;
    border-left: none;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
}

#screen2-boxDefinicoesVoltarbtn {
    font-size: 15px;
    padding: 5px;;
    width: 140px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    right:0px;
    border-bottom: none;
    border-right: none;
    background-color: #B22222; /* red */
    color: white;
    border: none;
}
#screen2-historicobtn{
    position: absolute;
    top: 0px;
    right:2px;
    padding: 0%;
    font-size: 11px;
    width: 25px;
    height: 25px;
    border: none;
    background-image: url("images/icons/account/history-black.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-color: transparent;
}
#screen2-definicoesContabtn{
    position: absolute;
    top: 25px;
    right:2px;
    padding: 0%;
    font-size: 11px;
    width: 25px;
    height: 25px;
    border: none;
    background-image: url("images/icons/account/definicoes-black.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-color: transparent;
}
#screen2-sairSessaobtn{
    position: absolute;
    bottom: 2px;
    right:2px;
    padding: 0%;
    font-size: 11px;
    width: 20px;
    height: 20px;
    border: none;
    background-image: url("images/icons/account/logout-black.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: transparent;
}
