.slideup {
  height: 20px;
  width: 250px;
  font-size: 20px;
  border: none;
  position: absolute;
  padding: 10px 20px;
  line-height: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#order-again-btn {
  position: absolute;
  top: 530px;
  left: 10px;
  background-color: #009ee1;
  color: white;
  background-image: url("images/icons/buttons/slideup-white.png");
  background-position: 7% 50%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

#order-again-hide-btn {
  position: absolute;
  top: 530px;
  left: 10px;
  background-color: #009ee1;
  color: white;
  background-image: url("images/icons/buttons/hide-white.png");
  background-position: 7% 60%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

#box-order-again {
  padding: inherit;
  position: absolute;
  top: 161px;
  left: 10px;
  border: none;
  width: 290px;
  height: 369px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#order-again-title {
  position: absolute;
  left: 0px;
  top: -30px;
}

.menu-order-again {
  position: relative;
  padding: inherit;
  height: 60px;
  width: 290px;
  border: none;
  font-size: 24px;
  border-left: none;
  border-right: none;
  border-top: 1px solid #4c4c4c;
  border-bottom: 1px solid #202020;
  line-height: 62px;
  text-align: left;
}

#view-order-pay-box {
  position: absolute;
  padding: inherit;
  border: none;
  width: 290px;
  height: 145px;
  top: 578px;
  left: 1236px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#view-order-btn {
  top: 0px;
  left: 0px;
  background-color: #009ee1;
  color: white;
  background-image: url("images/icons/buttons/slideup-white.png");
  background-position: 7% 50%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  box-shadow: none;
}

#view-order-hide-btn {
  top: 0px;
  left: 0px;
  background-color: #009ee1;
  color: white;
  background-image: url("images/icons/buttons/hide-white.png");
  background-position: 7% 50%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  box-shadow: none;
}

#view-order-pay-box-total {
  position: absolute;
  top: 50px;
  left: 60px;
  width: 220px;
  height: 40px;
  font-size: 24px;
  padding: 0%;
  border: none;
  text-align: left;
}

.ordermenu{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: inherit;
  width: 290px;
  height: 369px;
  border: none;
}

#order-menu-back{
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: inherit;
  height: 45px;
  width: 290px;
  border: none;
  background-color: #4CAF50; /* Green */
  color: white;
  border-bottom: 1px solid black;
}

#box-order-menu ul{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: inherit;
  height: 324px;
  width: 290px;
  border: none;
  margin: inherit;
  overflow-y: scroll;
}

#box-order-menu li{
  list-style-type: none;
  position: relative;
  padding: inherit;
  width: 277px;
  height: 65px;
  border: none;
  border-bottom: 3px solid black;
}

.titulo3ecran{
    font-size: 21px;
    position: absolute;
    top: 0px;
    left: 5px;
}
.descricao3ecran{
    font-size: 12px;
    text-align: left;
    position: relative;
    top: 28px;
    left: 6px;
    width: 180px;
}
.preco3ecran{
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 24px;
}
.info3ecran {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 16px;
    padding: 1%;
    width: 100px;
    border-top: none;
    border-right:none;
}

#view-order-items-box {
  position: absolute;
  padding: 0px;
  top: 135px;
  left: 1236px;
  height: 443px;
  width: 290px;
  border: none;
}

#view-items-current-order {
  position: absolute;
  height: 40px;
  width:145px;
  padding: 0%;
  font-size: 20px;
  text-align: center;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #4c4c4c;
  left: 0%;
  top: 0px;
  line-height: 40px;
  background-color: #363636;
  color: white;
}

#view-items-current-order.selected {
  background-image: url("images/background/back2.png");
  background-repeat: repeat-x repeat-y;
}

#view-items-all-orders {
  position: absolute;
  height: 40px;
  width:144px;
  padding: 0%;
  font-size: 20px;
  text-align: center;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #202020;
  right: 0%;
  top: 0px;
  line-height: 40px;
  background-color: #363636;
  color: white;
}

#view-items-all-orders.selected {
  background-image: url("images/background/back2.png");
  background-repeat: repeat-x repeat-y;
}

#view-order-items-box ul {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 290px;
  bottom: 30px;
  height: 348px;
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;
}

#view-order-items-box li {
    list-style-type: none;
    position: relative;
    padding: 0px;
    height: 50px;
    width: 277px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#pay-btn {
  position: absolute;
  top: 90px;
  left: 0px;
  padding: inherit;
  height: 55px;
  width: 290px;
  font-size: 27px;
  color: white;
  text-align: center;
  border: none;
  line-height: 55px;
  background-color: #4CAF50;
  background-image: url("images/icons/buttons/money-white.png");
  background-position: 15% 40%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

#order-pay-box {
  position: absolute;
  padding: inherit;
  border: none;
  width: 290px;
  height: 266px;
  top: 457px;
  left: 1236px;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#order-pay-title {
  box-shadow: none;
}

#order-pay-money-btn {
  position: absolute;
  left: 40px;
  top: 80px;
  width: 200px;
  height:40px;
  padding: 5px 5px;
  font-size: 24px;
  background-color: #009ee1;
  color: white;
  border: none;
}

#order-pay-creditcard-btn {
  position: absolute;
  left: 40px;
  bottom: 80px;
  width: 200px;
  height:40px;
  padding: 5px 5px;
  font-size: 24px;
  background-color: #009ee1;
  color: white;
  border: none;
}

#order-pay-cancel-btn {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: inherit;
  height: 55px;
  width: 290px;
  font-size: 27px;
  color: white;
  text-align: center;
  border: none;
  line-height: 55px;
  background-color: #B22222;
}
