.slideup {
  height: 20px;
  width: 250px;
  font-size: 20px;
  border: none;
  position: absolute;
  padding: 10px 20px;
  line-height: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#order-again-btn {
  position: absolute;
  top: 530px;
  left: 10px;
  background-color: #009ee1;
  color: white;
  background-image: url("images/icons/buttons/slideup-white.png");
  background-position: 7% 50%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
#order-again-btn:active{
  background-color: #026bab;
}

#order-again-hide-btn {
  position: absolute;
  top: 530px;
  left: 10px;
  background-color: #B22222;
  color: white;
  background-image: url("images/icons/buttons/hide-white.png");
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
#order-again-hide-btn:active{
  background-color: #8e1f1f;
}
#box-order-again {
  padding: inherit;
  position: absolute;
  top: 161px;
  left: 10px;
  border: none;
  width: 290px;
  height: 369px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#order-again-title {
  position: absolute;
  left: 0px;
  top: -30px;
}

.menu-order-again {
  position: relative;
  padding: inherit;
  height: 60px;
  width: 290px;
  border: none;
  font-size: 24px;
  border-left: none;
  border-right: none;
  border-top: 1px solid #4c4c4c;
  border-bottom: 1px solid #202020;
  line-height: 62px;
  text-align: left;
  background-color: #f5f5f5;
}
.menu-order-again:active{
  background-color: #363636;
  color: white
}

#view-order-pay-box {
  position: absolute;
  padding: inherit;
  border: none;
  width: 290px;
  height: 145px;
  top: 601px;
  left: 1236px;
  background-color: #363636;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#view-order-btn {
  top: 0px;
  left: 0px;
  background-color: #009ee1;
  color: white;
  background-image: url("images/icons/buttons/slideup-white.png");
  background-position: 7% 50%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  box-shadow: none;
}
#view-order-btn:active{
  background-color: #026bab;
}
#view-order-hide-btn {
  top: 0px;
  left: 0px;
  background-color: #B22222;
  color: white;
  background-image: url("images/icons/buttons/hide-white.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  box-shadow: none;
}
#view-order-hide-btn:active{
  background-color: #8e1f1f;
}
#view-order-pay-box-total {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 260px;
  height: 40px;
  font-size: 24px;
  padding: 0%;
  border: none;
  text-align: left;
  overflow-x: auto;
}

.ordermenu{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: inherit;
  width: 290px;
  height: 369px;
  border: none;
  background-color: #f5f5f5;
}
#menu-order-again-entradas{
background-image: url("images/icons/food-menu/bread-black.png");
background-position: 14% 53%;
background-repeat: no-repeat;
background-size: 20px 20px;
}
#menu-order-again-entradas:active{
  background-image: url("images/icons/food-menu/bread-white.png");
}
#menu-order-again-sopas{
background-image: url("images/icons/food-menu/soup-black.png");
background-position: 10% 45%;
background-repeat: no-repeat;
background-size: 30px 30px;
}
#menu-order-again-sopas:active{
background-image: url("images/icons/food-menu/soup-white.png");
}
#menu-order-again-pratos{
background-image: url("images/icons/food-menu/plate-black.png");
background-position: 11% 57%;
background-repeat: no-repeat;
background-size: 30px 30px;
}
#menu-order-again-pratos:active{
background-image: url("images/icons/food-menu/plate-white.png");
}
#menu-order-again-bebidas{
background-image: url("images/icons/food-menu/drink-black.png");
background-position: 10% 45%;
background-repeat: no-repeat;
background-size: 30px 30px;
}
#menu-order-again-bebidas:active{
background-image: url("images/icons/food-menu/drink-white.png");
}
#menu-order-again-sobremesas{
background-image: url("images/icons/food-menu/dessert-black.png");
background-position: 9% 60%;
background-repeat: no-repeat;
background-size: 40px 40px;
}
#menu-order-again-sobremesas:active{
background-image: url("images/icons/food-menu/dessert-white.png");
}
#menu-order-again-cafetaria{
background-image: url("images/icons/food-menu/coffee-black.png");
background-position: 11% 48%;
background-repeat: no-repeat;
background-size: 30px 30px;
}
#menu-order-again-cafetaria:active{
background-image: url("images/icons/food-menu/coffee-white.png");
}
#order-menu-back{
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: inherit;
  height: 45px;
  width: 290px;
  border: none;
  background-color: #4CAF50; /* Green */
  color: white;
  border-bottom: 3px solid black;
  background-image: url("images/icons/buttons/back-white.png");
  background-position: 8% 40%;
  background-repeat: no-repeat;
  background-size: 25px 25px;
}
#order-menu-back:active{
  background-color: #306f32;
}

#box-order-menu ul{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: inherit;
  height: 324px;
  width: 290px;
  border: none;
  margin: inherit;
  overflow-y: scroll;
}

#box-order-menu li{
  list-style-type: none;
  position: relative;
  padding: inherit;
  width: 277px;
  height: 69px;
  border: none;
}

.titulo3ecran{
    font-size: 21px;
    position: absolute;
    top: 0px;
    left: 5px;
}
.descricao3ecran{
    font-size: 12px;
    text-align: left;
    position: relative;
    top: 28px;
    left: 6px;
    width: 180px;
}
.preco3ecran{
    position: absolute;
    right: 10px;
    top: 29px;
    font-size: 24px;
}
.info3ecran {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 16px;
    padding: 1%;
    width: 30px;
    text-align: left;
    background-image: url(images/icons/buttons/info-white.png);
    background-position: 75% 45%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
.info3ecran:active{
  background-color: white;
  color: black;
  background-image: url(images/icons/buttons/info-black.png);
}
.opcao3ecran{
  height: 65px;
  width: 276px;
  border-top: 1px solid #4c4c4c;
  border-bottom: 1px solid #202020;
  border-left: none;
  border-right: none;
}

#view-order-items-box {
  position: absolute;
  padding: 0px;
  top: 135px;
  left: 1236px;
  height: 466px;
  width: 290px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#view-all-orders-items-box {
  position: absolute;
  padding: 0px;
  top: 175px;
  left: 1236px;
  height: 426px;
  width: 290px;
  border: none;
  overflow-y: scroll;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#view-all-orders-table td {
  width: 200px;
  font-size: 15px;
  text-align: left;
  padding: inherit;
  vertical-align:top;
}
#view-all-orders-table th {
  width: 200px;
  font-size: 15px;
  text-align: left;
  padding: inherit;
  vertical-align:top;
  color: #4CAF50;
}

#view-items-current-order {
  position: absolute;
  height: 40px;
  width:145px;
  top: 135px;
  left: 1236px;
  padding: 0%;
  font-size: 16px;
  text-align: center;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #4c4c4c;
  line-height: 40px;
  background-color: #363636;
  color: white;
    border-top: 1px solid black;
}

#view-items-current-order.selected {
  background-image: url("images/background/back2.png");
  background-repeat: repeat-x repeat-y;
  color: black;
}

#view-items-all-orders {
  position: absolute;
  height: 40px;
  width:144px;
  top: 135px;
  left: 1381px;
  padding: 0%;
  font-size: 16px;
  text-align: center;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #202020;
  line-height: 40px;
  background-color: #363636;
  color: white;
  border-top: 1px solid black;
}

#view-items-all-orders.selected {
  background-image: url("images/background/back2.png");
  background-repeat: repeat-x repeat-y;
  color: black;
}

#view-order-items-box ul {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 290px;
  bottom: 30px;
  height: 368px;
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;
}

#view-order-items-box li {
    list-style-type: none;
    position: relative;
    padding: 0px;
    height: 54px;
    width: 277px;
    border: none;
}

#view-order-confirmarbtn {
  padding: 0%;
  height: 55px;
  width: 290px;
  bottom: 0%;
  left: 0%;
  font-size: 27px;
  line-height: 53px;
  border-bottom: 3px solid black;
}

#pay-btn {
  position: absolute;
  top: 90px;
  left: 0px;
  padding: inherit;
  height: 55px;
  width: 290px;
  font-size: 27px;
  color: white;
  text-align: center;
  border: none;
  line-height: 55px;
  background-color: #DAA520;
  background-image: url("images/icons/buttons/money-white.png");
  background-position: 23% 60%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
#pay-btn:active{
  background-color: #b3881d;
}
#order-pay-box {
  position: absolute;
  padding: inherit;
  border: none;
  width: 290px;
  height: 286px;
  top: 460px;
  left: 1236px;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#order-pay-title {
  box-shadow: none;
}

#order-pay-money-btn {
  position: absolute;
  left: 40px;
  top: 100px;
  width: 200px;
  height:40px;
  padding: 5px 5px;
  font-size: 24px;
  background-color: #009ee1;
  color: white;
  border: none;
}
#order-pay-money-btn:active{
  background-color:  #026bab;
}
#order-pay-creditcard-btn {
  position: absolute;
  left: 40px;
  bottom: 70px;
  width: 200px;
  height:40px;
  padding: 5px 5px;
  font-size: 24px;
  background-color: #009ee1;
  color: white;
  border: none;
}
#order-pay-creditcard-btn:active{
    background-color:  #026bab;
}

#order-pay-cancel-btn {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: inherit;
  height: 55px;
  width: 290px;
  font-size: 27px;
  color: white;
  text-align: center;
  border: none;
  line-height: 55px;
  background-color: #B22222;
}
#order-pay-cancel-btn:active{
  background-color:  #8e1f1f;
}
#order-pay-cancel-transaction-btn{
  position: absolute;
  bottom: -55px;
  left: 0px;
  padding: inherit;
  height: 55px;
  width: 290px;
  font-size: 27px;
  color: white;
  text-align: center;
  border: none;
  line-height: 55px;
  background-color: #B22222;
}
#order-pay-cancel-transaction-btn:active{
    background-color:  #8e1f1f;
}
#transacao{
  position: absolute;
  top: 30px;
  left: 0px;
  width: 290px;
  height: 201px;
}

#timeleft-circle {
  background-color: #009ee1;
  display:block;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  border: none;
  text-align:center;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 40px;
  position: absolute;
  left: 500px;
  top: 200px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-image: url("images/background/back2.png");
  background-repeat: repeat-x repeat-y;
  line-height: 300px;
}

.timeleftbox {
  position: absolute;
  top: 650px;
  width: 270px;
  height: 70px;
  padding: inherit;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight:bold;
  background: none;
  color: black;
  border: none;
  text-align: center;
}
#timeleft-box-1{
  left: 365px;
}
#timeleft-box-2{
  left: 635px;
}
#timeleft-box-3{
  left: 905px;
}
#login-window-thirdScreen{
  position: absolute;
width: 350px;
height: 410px;
top: 110px;
left: 1172px;
}
#login-window-thirdScreen h3{
  position: absolute;
  left: 100px;
  top: -30px;
}
#login-window-thirdScreen table{
  position: absolute;
  left: -25px;
  bottom: 80px;
  width: 450px;
}

#login-window-thirdScreen input{
  width: 325px;
}
#login-window-thirdScreen .submit{
  position: absolute;
  bottom: 10px;
  left: 90px;
}
#login-window-thirdScreen p{
  position: absolute;
bottom: 90px;
left: 15px;
}
#reg-window-thirdScreen{
  position: absolute;
width: 350px;
height: 610px;
top: 10px;
left: 1172px;
}
#reg-window-thirdScreen h3{
  position: absolute;
  left: 100px;
  top: -30px;
}
#reg-window-thirdScreen .form{
  position: absolute;
      top: 90px;
      left: -25px;
}
#reg-window-thirdScreen input{
  width: 325px;
}
#reg-window-thirdScreen table{
  width: 300px;
  text-align: left;
}
#reg-window-thirdScreen label{
  width: 400px;
}
#reg-window-thirdScreen .submit{
  position: absolute;
  bottom: 10px;
  left: 70px;
}
#moreInfo-thirdScreen{
  position: absolute;
  left: 10px;
  width: 300px;
  height: 460px;
}
.food-image-thirdScreen{
  left: 73px;
}
.food-tittle-thirdScreen{
  top: 180px;
  left: 0px;
  width: 300px;
}
.classificacao-thirdScreen{
  left: 35px;
  top: 240px;
}
.preco-thirdScreen{
  font-size: 24px;
  left: 0px;
  top: 280px;
  width: 300px;
}
.descricao-thirdScreen{
  left: 5px;
  top: 320px;
}
#ingredients-thirdScreen{
  position: absolute;
  left: 1221px;
  top: 40px;
  width: 300px;
  height: 540px;
}

#chooseIngredients{
  width: 300px;
    height: 230px;
    position: absolute;
    top: 250px;
}
#chooseIngredientsTittle{
  width: 300px;
  position: absolute;
  top: 235px;
  text-align: center;
  font-size: 15px;
}
#chooseIngredients ul{
  width: 300px;
  height: 230px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: auto;
}
#chooseIngredients li{
  list-style-type: none;
  height: 40px;
  width: 290px;
  position: relative;
  left: 0px;
}
#chooseIngredients input {
  width: 20px;
  position: absolute;
  top: 11px;
  left: 10px;
}
#chooseIngredients label{
  font-size: 20px;
  position: absolute;
  left: 45px;
  top: 15px;
}
#textIngredient-thirdScreen{
  text-align: left;
  font-size: 20px;
  position: absolute;
  top: 15px;
  left: 50px;
}
#view-order-items-box-wrapper{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#ingred-edit-save-btn-thirdScreen{
  padding: inherit;
  height: 40px;
  width: 110px;
  line-height: 40px;
  left: 10px;
  font-size: 20px;
}
#ingred-edit-cancel-btn-thirdScreen{
  padding: inherit;
  height: 40px;
  width: 120px;
  line-height: 40px;
    left: 160px;
  font-size: 20px;
  background-color: #B22222;
}
