html {
    overflow: hidden; /* Disable Page scrolling */
    -webkit-touch-callout: none; /* Disable text selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    width: 95em;
    height: 10em;
    vertical-align: middle;
    text-align: center;
    font-family: Helvetica;
}

img { /* Disable image dragging */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
}

div {
    overflow: hidden;
}
